{% extends 'base.html' %}
{% block con %}
{% load mathfilters %}
    <div class="container mt-5 mb-5">
        <h1><b>{{t.subject}}</b></h1>

        <div class="row">
            <div class="col-lg-8">
                <textarea class="form-control" style="height: 300px;" disabled>{{t.content}}</textarea>
            </div>
            <div class="col-lg-4 text-center" style="margin: auto;">
                <img src="{{t.maker.getpic}}" width="100%">
                <div class="mt-4">
                    <h5>made by <b>{{t.maker}}</b></h5>
                </div>
                
            </div>

        </div>    
        {% if user in t.voter.all %}
            {% csrf_token %}
            <div class="row mt-5">
                {% for i in cset %}
                    <div class="col-lg-4">
                        
                        
                        <img src="{{i.chpic.url}}" width="100%">

                        <div class="text-center mt-3">
                            <h4><b>{{i.chname}}</b></h4>

                        </div>

                        <textarea class="form-control" disabled>{{i.chcom}}</textarea>
                        
                        <div class="progress mt-3">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: {{i.choicer.all.count|div:t.voter.all.count|mul:100}}">{{i.choicer.all.count|div:t.voter.all.count|mul:100|floatformat:"0"}}%</div>
                        </div>

                    </div>

                {% endfor %}

            </div>

            <div class="text-center mt-5">
                <a href="{% url 'vote:cancel' t.id %}" class="btn btn-secondary btn-lg">투표취소</a>
            </div>

        {% else %}
            <form method="post" action="{% url 'vote:vote' t.id %}">
                {% csrf_token %}
                <div class="row mt-5">
                    {% for i in cset %}
                        <div class="col-lg-4">
                            <div class="text-center mb-3">
                                <input class="form-check-input" type="radio" name="ch" value="{{i.id}}" {% if forloop.first %}checked{% endif %}>
                            </div>    
                            <img src="{{i.chpic.url}}" width="100%">
                            <div class="text-center mt-3">
                                <h4><b>{{i.chname}}</b></h4>

                            </div>

                            <textarea class="form-control" disabled>{{i.chcom}}</textarea>
                        </div>
                    {% endfor %}

                </div>

                <div class="text-center mt-5">
                    <button class="btn btn-dark btn-lg">투표하기</button>
                </div>
            </form>
        {% endif %}
    </div>
{% endblock %}